### Verify

To define our top focuses and initiatives, the Verify Stage needs to have a concerted perspective on what GitLab will offer for the
Continuous Integration [use case](/handbook/marketing/brand-and-product-marketing/product-and-solution-marketing/usecase-gtm/ci/).
We are targeting the [Ops Section Direction personas](/direction/ops/#medium-term-1-2-years) and will support these users with our
Continuous Integration [mission](/direction/verify/#continuous-integration-mission), [vision](/direction/verify/#continuous-integration-vision), and one-year direction. 

#### One-year direction

GitLab CI/CD unlocks the DevSecOps workflow. A key focus for the Verify Stage is supporting the automation of secure workflows in GitLab while delivering ease of use across GitLab CI/CD.
Our goal is to be the best-in-class CI/CD platform of choice. To support this goal, we are investing in the following areas next year:

**[World-class DevSecOps experience](/direction/#world-class-devsecops-experience)** 
1. Evolve the discoverability and reusability of syntax with the recently introduced [CI/CD Component Catalog](https://gitlab.com/groups/gitlab-org/-/epics/7462) 
1. Improve composability and extensibilty of GitLab CI/CD with [GitLab Steps](https://gitlab.com/gitlab-org/gitlab/-/issues/357669) and [GitLab Events](https://gitlab.com/groups/gitlab-org/-/epics/8349)  
1. Deliver superior build speed by offering expanded machine types and sizes for [Runner SaaS](/direction/verify/runner_saas/) and improving [pipeline execution speeds](https://gitlab.com/groups/gitlab-org/-/epics/7290)
1. Release a next-generation container registry with [garbage collection, improved performance](https://gitlab.com/groups/gitlab-org/-/epics/5521) and a [new UX](https://gitlab.com/groups/gitlab-org/-/epics/3211)

**[Advanced Security & Compliance](/direction/#advanced-security-and-compliance)** 
1. Enhanced [Secrets Management](/direction/verify/secrets_management/) with [job token scoping](https://gitlab.com/groups/gitlab-org/-/epics/7335), [OIDC JWT customizability](https://gitlab.com/gitlab-org/gitlab/-/issues/360592) to authenticate with even more third-party secrets managers, and introducing [secrets](https://gitlab.com/gitlab-org/gitlab/-/issues/29674).
1. [Full integration with Google Cloud](https://about.gitlab.com/blog/2023/08/29/gitlab-google-partnership-s3c/) with access control using Google Cloud Console for enhanced security

**[Observability & Analytics](/direction/#observability-analytics--feedback)**
1. Better visibility into [Runner Health](https://gitlab.com/gitlab-org/gitlab/-/issues/424495) and [cost insights](https://gitlab.com/gitlab-org/gitlab/-/issues/331640) with Runner Fleet dashboards

For a view of all the issues we have planned by quarter in 2024, check out our [Verify Roadmap Issue Board](https://gitlab.com/groups/gitlab-org/-/boards/2571627?label_name[]=devops%3A%3Averify&label_name[]=direction).

#### What we aren't focused on now

There are important things we won't work on to focus on our one year plan.

1. **[Code Testing and Coverage](https://about.gitlab.com/direction/verify/code_testing/)** - Our users are looking for improved experiences in Review Apps and Build Artifacts. We are trading off investing in other visualizations and testing capabilities to unlock those features. 
1. **[Review Apps](https://about.gitlab.com/direction/verify/review_apps/)** - We are shifting focus on differentiators for GitLab CI/CD related to reusability, security, and speed.
1. **[Build Artifacts](https://about.gitlab.com/direction/verify/build_artifacts/)** - while a critical experience, we will not be investing in any new experiences for Build Artifacts.


#### Verify Stage Categories

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing

<%= partial("direction/ci/pricing/verify") %>
